.image-reserved {
  position: relative;
  transition: transform 0.2s;
}
.img-fluid {
  width: 100%;
  height: 300px;
}

.image-reserved:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-reserved:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
